//colors
$base: #fff;
$brand: #ff6600;
$body: #000;

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$link-color: #828282;
$secondary-color: #F5F6F0;
$ternary-color: #E6E7E1;

//padding
$basePadding: 10px;

//font sizes
$base-font-size: 12px;
$heading-2: 15px;
$heading-3: 14px;